In [8]:
using CSV
using DataFrames

In [9]:
df = CSV.read("property data.csv",DataFrame)

9×7 DataFrame. Omitted printing of 2 columns
│ Row │ PID       │ ST_NUM  │ ST_NAME    │ OWN_OCCUPIED │ NUM_BEDROOMS │
│     │ Int64?    │ String? │ String     │ String?      │ String       │
├─────┼───────────┼─────────┼────────────┼──────────────┼──────────────┤
│ 1   │ 100001000 │ 104     │ PUTNAM     │ Y            │ 3            │
│ 2   │ 100002000 │ 197     │ LEXINGTON  │ N            │ 3            │
│ 3   │ 100003000 │ missing │ LEXINGTON  │ N            │ n/a          │
│ 4   │ 100004000 │ 201     │ BERKELEY   │ 12           │ 1            │
│ 5   │ missing   │ 203     │ BERKELEY   │ Y            │ 3            │
│ 6   │ 100006000 │ 207     │ BERKELEY   │ Y            │ NA           │
│ 7   │ 100007000 │ NA      │ WASHINGTON │ missing      │ 2            │
│ 8   │ 100008000 │ 213     │ TREMONT    │ Y            │ 1            │
│ 9   │ 100009000 │ 215     │ TREMONT    │ Y            │ na           │

In [10]:
function count_missing_values(df)
    cols = names(df)
    mv = Vector{Int8}()
    @inbounds for col in cols
        nbmv = count(ismissing, df[col])
        append!(mv,nbmv)
    end
    df = DataFrame(cols=cols, values=mv, values_in_pourcentage=mv/length(cols))
    
    return df
end

count_missing_values (generic function with 1 method)

In [ ]:
coun